body {
    width: 100%;
}
.cover {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}
/* Header  */

header {
    background-color: $black-color;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 30px solid $black-color;

    .logo {
        background-image: url(/images/logo.png);
        background-size: cover;
        width: 150px;
        height: 150px;
        grid-column-start: 2;
        margin-top: 20px;
    }
    nav {
        display: grid;
        align-items: end;

        li {
        display: inline;
        grid-column-start: 3;
        margin: 0px 8px 30px 8px;

        a {
        font-family: $font-family;
        font-weight: bold;
        font-size: $font-size;
        color: white;
        text-decoration: none;
        }
        a:hover {
            color: $blue-color;
        }
    }
}
}

/* Beers Section  */

.beers-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    width: 75%;
    height: auto;
    margin: 15px auto;

    .box1 {
        background-color: $grey-bg;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        img{
            width: auto;
            height: 250px;
        }
        h1 {
            @extend %h1;
        }
        p {
            @extend %p;
        }
        .info {
            @extend %beers-section-info;

            ul {
                padding: 20px;
            }
            span {
                font-size: 1.5em;
                font-weight: 300;
            }
            .ph {
                background-color: $orange-color;
                color: rgb(255, 255, 255);
            }
        }
    }
}

/* Quick Find Section  */

.find-wrapper {
    display: grid;
    width: 99%;
    height: 700px;
    margin: 7px auto;

    .box2 {
        background-color: $grey-bg;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
            width: 25%;
        }
        .text {
            width: 30%;
        }
        h2 {
            @extend %h2;    
        }
        h3 {
            @extend %h3;
        }
        p {
            @extend %p;
        }
        .info {
            @extend %random-section-info;

            ul {
                padding: 15px 20px 15px 20px;

                li {
                    font-size: $font-size;    
                }
                span {
                    font-size: $font-title;
                    font-weight: 300;
                }
            } 
            .ph {
                background-color: $orange-color;
                color: rgb(255, 255, 255);
            }   
        }
        .ingredients-button {
            background-color: $blue-color;
            color: white;
            width: 100px;
            height: 40px;
            border: none;
            outline: none;
            font-weight: bold;
        }
        .ingredients-button:hover {
            background-color: $blue-color;
        }
    }
    .give-button {
        justify-self: center;
        background-color: $orange-color;
        border: none;
        outline: none;
        font-size: $font-size - 0.2;
        font-weight: bold;
        color: white;
        width: 200px;
        height: 50px;
        margin: 20px;       
    }
    .give-button:hover {
        background-color: rgb(247, 189, 0);
    }
}

/* Pick a Beer Form */

.pick-a-beer{
    display: grid;
    background-color: $grey-bg;
    width: 600px;
    margin: 15px auto;
    margin-bottom: 150px;
    font-family: $font-family;
    font-style: normal;
    overflow: hidden;

    .form-pick-a-beer{
        height: 70px;
    }
    #text-pick{
        grid-column: 1;
        grid-row: 1;
        color: $blue-color;
        font-weight: 600;
        display: flex;
        justify-content: center;
        margin-top: 35px;
        margin-bottom: 30px;
    }
    .name-pick{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
        justify-self: start;
        margin-left: 35px;

        input{
            border: $input-border;
            height: 30px;
            width: 180px;
            margin-left: 10px;
        }
    }
    .hops-pick{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row: 2;
        margin-left: 110px;
        justify-self: center;

        input{
            border: $input-border;
            height: 30px;
            width: 156px;
            margin-left: 10px;
        }
    }
    .abv-pick{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 3;
        justify-self: center;

        input{
            border: $input-border;
            height: 30px;
            width: 90px;
            margin-left: 10px;
        }
    }
    .ibu-pick{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 3;
        justify-self: center;
        
        input{
            border: $input-border;
            height: 30px;
            width: 90px;
            margin-left: 10px;
        }
    }
    .ebc-pick{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row: 3;
        justify-self: center;

        input{
            border: $input-border;
            height: 30px;
            width: 90px;
            margin-left: 10px;
        }
    }
    .button-pick-a-beer{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row: 4;
        justify-self: center;
        padding: 0px 0px 20px 50px;


        button{
        background-color: $blue-color;
        padding: 10px 13px;
        color: rgb(255, 255, 255);
        border:none;
        outline: none;
        font-family: $font-family;
        font-weight: 600;
        font-style: normal;
        font-size: 12px;
        }
    }
    button:hover {
    background-color: rgb(0, 110, 219);
    }
}

  /* Ingredients Pop-up Window */

.pop-up {
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.94);
    width: 600px;
    margin: 0 auto;
    font-family: $font-family;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;


    .pop-up-header {
        background-color: $blue-color;
        height: 50px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        padding: 0px 20px 0px 20px;
    }
    .ingredients {
        padding: 30px 40px 40px 40px;

        span {
            font-weight: bold;
        }
        ul {
            padding: 10px;
        }
    }
}

/* Pagination footer */

footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family: $font-family;

    .pagination {
        display: inline-block;
    }
    .pagination a {
        color: $black-color;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }
    .pagination a:hover:not(.active) {
        background-color: $blue-color;
        color: white;
    }
    .active {
        background-color: $blue-color;
    }
}