
html {
    width: 100%;

}

header {
    background-color: black;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 0.5em;

    .logo {
        background-image: url(/images/logo.png);
        background-size: cover;
        width: 150px;
        height: 150px;
        grid-column-start: 2;
        margin: 15px;
    }

    nav {
        display: grid;
        align-items: end;
    }
    
    ul {
        align-content: flex-start;

    }
    
    li {
        display: inline;
        grid-column-start: 3;
        padding: 6px;


        a {
            font-family: 'Open Sans';
            font-weight: 300;
            font-size: 12px;
            color: white;
            text-decoration: none;
        }
    }
    

}
