/* Fonts variables */

$font-size: 1em;
$font-info: 1.2em;
$font-title: 1.5em;
$font-family: 'Open Sans';
$extra-font: 'Playfair Display';

/* Colours variables */

$blue-color:  rgb(0, 110, 219);
$orange-color: rgba(255, 196, 0, 0.904);
$black-color: rgb(0, 0, 0);
$grey-bg: rgb(228, 228, 228);

$input-border: 1px solid rgb(184, 183, 183);